.heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.filter-box {
    width: 260px;
    height: 682px;
    padding: 17px 25px 31px 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
}

.filters {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}


.bfimage {
    width: 120px;
    height: 120px;
    margin: 0 41px 31px 0;
    border-radius: 23px;
    object-fit: contain;
}

.big-chill {
    width: 298px;
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    margin-left: 120px;
    color: #192f60;
    white-space: nowrap;
}

.fort {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    margin-left: 123px;
    color: #192f60;
}

.line {
    width: 726.4px;
    height: 0;
    margin: 31px 0 0;
    border: solid 1px #dedfe5;
    margin-top: 50px;
}

.cuisine {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    margin-left: 4%;
    color: #636f88;
    white-space: nowrap;
}

.bakery {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    margin-left: 185%;
    color: #192f60;
}

.rectangle {
    width: 185px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #8c96ab;
}


.cost-options {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: grey;
}


.select-location {
    width: 106px;
    height: 20px;
    margin: 10px 102px 11px 1px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.item {
    width: 794px;
    height: 291px;
    padding: 25px 32.6px 20px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
    margin-bottom: 20px;
}


.shop-details {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
    margin-left: 121px;
    white-space: nowrap;
}

 

.cuisine-options {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: gray;
}




.img {
    vertical-align: middle;
    border-style: none;
    border-radius: 35px;
}

.sort {
    width: 37px;
    height: 25px;
    margin: 29px 172px 15px 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.select-dropdown {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}